* {
  border: 0;
  padding: 0;
}
.penguin-logo {
  width: 200px;
}
.head-section {
  background-color: rgba(255, 251, 240, 1);
}
.penguin-navbar {
  background-color: 0;
}
h1 {
  font-family: "Bebas Neue", cursive;
}

.tabs-container {
  display: flex;
}

.tabs {
  width: 200px; /* Adjust the width as needed */
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}

.tab-button {
  background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }
  &:nth-of-type(4):after {
    left: 0;
    bottom: auto;
    top: -3px;
    width: 100%;
  }
  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
    &:nth-of-type(4):after {
      top: calc(100% - 3px);
    }
    &:nth-of-type(5) {
      
    }
    &:nth-of-type(5):after {
      left: -10%;
      width: 120%;
    }
    &:nth-of-type(6) {
      border-radius: 30px;
    }
    &:nth-of-type(6):after {
      width: 0%;
    }
    &:nth-of-type(7) {
      transform: scale(1.2);
    }
    &:nth-of-type(7):after {
      width: 0%;
    }
    &:nth-of-type(8) {
      box-shadow: inset 0px 0px 0px 3px #f7f7f7;
    }
    &:nth-of-type(8):after {
      width: 0%;
    }
    &:nth-of-type(9) {
      box-shadow: 0px 0px 0px 3px #f7f7f7;
    }
    &:nth-of-type(9):after {
      width: 0%;
    }
  }
}

.tab-button:hover {
  background: #ccc;
  color: #fff;
}

.tab-button.active {
  background: #ddd;
  font-weight: bold;
  color: #796969;
}

.products-section {
  flex: 1;
  padding: 10px;
}
/* #1995AD, #A1D6E2, #F1F1F2 */
.info-section{
  background: #F1F1F2;
}

#products .row .col {
  position: relative;
}

#products .row .col:nth-child(n + 4) {
  margin-top: -50px; /* Adjust the value to achieve the desired overlap */
}




.card {
  padding: 0px !important; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 265px !important;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 20px;
  transition: transform 0.5s;
}

.card .card-content{
   background-color: #f0f0f0; 
}

.card:hover {
  /* transform: scale(1.0); */
}

.card .title{
  /* color: red; */
  font-size: 25px;
}
.card-image{
  height: 280px;
}
.card .description{
  /* color: red; */
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;        /* For multi-line truncation */
  -webkit-line-clamp: 3;       /* Number of lines to display */
  -webkit-box-orient: vertical; /* Specifies the vertical orientation of the box */
  max-width: 100%;
  height: 50px;
  padding: 5px;
}

.product-title-type{
  margin: 10px;
  font-size: 28px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 50px;
  white-space: nowrap;  
  text-overflow: ellipsis;
}

.product-title {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 1.1em;
}

.price {
  padding-right: 10px;
  margin: 0px;
  font-size: 1.2em;
  color: green;
}

.card .p-button{
  padding:0;
}
.card button {
  border: none;
  color: white;
  background-color: #1995AD;
  text-align: center;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-color: #dd6395;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.card button i {
  /* margin-right: 8px; */
}

.card button:hover {
  box-shadow: inset 11em 0 0 0 #10182F, inset -11em 0 0 0 #10182F;
  border-color: #10182F;
  background-color: #10182F;
  color: #fff;
}
.card button:hover span {
  transform: scale(1.1);
  transition: transform 1s;
}

/* .card button:hover {
  opacity: 0.7;
} */


.rating-container {
  margin: 0px 0 5px 10px;
  display: flex;
  align-items: center;
}

.stars {
  font-size: 18px;
  color: #f5c518; /* Color for filled stars */
  margin-right: 8px;
}

.stars .fa-star {
  margin-right: 2px;
}

.stars .far.fa-star {
  color: #dcdcdc; /* Color for empty stars */
}

.rating-number {
  font-size: 16px;
  color: #333; /* Dark color for text */
  font-weight: bold; /* Bold text for emphasis */
}

.pop-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #f0f0f0;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.coming-soon {
  text-align: center;
  form {
    margin: auto;
    display: table;
  }
  
  input {
    float: left;
    font-size: 16px;
    border: 1px solid #fff;
  }
  
  input[type=email] {
    padding: 12px;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  input[type=submit] {
    padding: 12px 15px;
    color: #fff;
    background: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: all .235s ease-in-out;
    
    &:hover {
      color: #212121;
      background: #fff;
    }
  }
}



.wrapper.ten {
  /* background-color: #0e2839; */
}
.bounce {
  font-size: 5rem;
  width: 100%;
  margin: 3rem auto;
  display: inline-flex;
  justify-content: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span {
  display: inline-flex;
  color: #c7f4ff;
  font-family: "Play", sans-serif;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  50%,
  100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
}
.ten span:nth-of-type(7) {
  animation-delay: 0.7s;
}
.ten span:nth-of-type(8) {
  animation-delay: 0.8s;
}
.ten span:nth-of-type(9) {
  animation-delay: 0.9s;
}
.ten span:nth-of-type(10) {
  animation-delay: 0.10s;
}


/* Styles for tablets */
@media (max-width: 768px) {
  .container-fluid{
    padding-right: var(--bs-gutter-x, 2.95rem) !important;
  }  
  .card {
    max-width: 370px !important;
  }
  .bounce {
    font-size: 3rem;
   }
}

/* Styles for mobile devices */
@media (max-width: 480px) {
  .container-fluid{
    padding-right: var(--bs-gutter-x, 2.95rem) !important;
  }  
}


.card {
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}

/* Container for the marquee */
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #747474; /* Background color for visibility */
  color: #fff; /* Text color */
  padding: 0px 0; /* Padding for spacing */
  font-family: Arial, sans-serif; /* Font family for consistency */
  height: 30px; /* Fixed height for the marquee */
}

/* The content to scroll */
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%; /* Start position of the scrolling content */
  animation: marquee 15s linear infinite; /* Animation */
  animation-play-state: running; /* Ensure animation runs */
  transition: animation 0.5s; /* Smooth transition when hovering */
}

/* Keyframes for scrolling effect with delay */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from right */
  }
  90% {
    transform: translateX(-100%); /* Move to left */
  }
  100% {
    transform: translateX(-100%); /* End at left */
  }
}

/* Pause animation on hover with delay before restart */
.marquee:hover .marquee-content {
  animation-play-state: paused; /* Pause the animation */
}

/* Animation delay when the hover state is removed */
.marquee:hover .marquee-content {
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  transition: animation-play-state 0.1s, animation 0.1s; /* Smooth transition when resuming */
}

/* Optional styles for text appearance */
.marquee-content p {
  margin: 0;
  padding: 0;
  font-size: 1.2em; /* Adjust font size as needed */
  font-weight: bold; /* Optional: make text bold */
  text-align: center; /* Center align text */
  line-height: 30px; /* Align text vertically within the fixed height */
  color: rgba(255, 251, 240, 1); /* Gold color for the text */
  padding: 0 10px; /* Horizontal padding for spacing */
  border-radius: 5px; /* Rounded corners for the text background */
}